
body {
  min-width: 320px;
  margin:0;
}

main {
  margin: 0;
}

h1 {
  margin-top:0;
  padding-top: 20px;
}


.landingPageBody {
  background-image: url("./media/MLC_Hero_Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  min-height: 500px;
}
.shadingContainer {
  background-color: rgba(0,0,0,.2);
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  min-height:750px;

}

.landingPageCopy {
  color: white;
  text-align: center;
  margin:0;
}


/* Top Navigation Formatting */

.topnav {
    background-color: black;
    overflow: hidden;
    margin:0;
    padding:0;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 55px;
  padding: 0 15px 0 15px;
  text-decoration: none;
  font-size: 20px;
  }




.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.logo {
  padding: 0;
  margin: 0;
}



/* Hero image formatting */


.homepageTitle {
  margin-left: 5px;
  margin-right: 5px;
}


.heroImagePic {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right:auto;

  
}





/* Gigs formatting */

.oneGigContainer {
  padding: 10px 0px 10px 0px;

}
.dateColumn {
  display: inline-block;
  min-width: 100px;
  text-align: left;
}
.venueColumn {
  display: inline-block;
  min-width: 150px;
  text-align: left;
}
.addressColumn {
  display: inline-block;
  min-width: 200px;
  text-align: left;
}

th {
  border: 1px solid black;
  text-decoration:underline;

}


.newGigsJS {
  background-color:black;
  color: white;
  padding: 20px;
}






.gigsList {
  border: 1px solid black;
  text-decoration:underline;

  color: white;
  text-align: center;
  margin: 20px 5px 20px 5px;
  padding: 5px 10px 5px 10px;
}

.gigsContainer {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  list-style:none;

}

/* benefits formatting */

.benefitsContainer {
  display: inline-block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
}

.CTA {
  margin:0;
}


.icon {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.benefitCopy{
  vertical-align: super;
}


.benefitsList {
  text-align:left;
  margin: 0;
  list-style:none;
}

/* Subscribe formatting */
.benefits {
  text-align: center;
  margin-top:40px;
}


.signInSignUp {
  padding-top: 400px;
  text-align: center;
}




.signIn {
  display: inline-block;
}

.registerForm button:hover {
  background-color: #ddd;
  color: black;
}

.signInForm button:hover {
  background-color: #ddd;
  color: black;
}



.signUp {
  display:inline-block;
}

.signUp a:hover {
  background-color: #ddd;
  color: black;
}


.registerForm {
  margin-top: 50px;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.signInForm {
  margin-top: 50px;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
}

.updateForm {
  margin-top: 50px;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;

}



.registerStart {
  border: none;
}

.registerLabel {
  font-size: 20px;
  text-align: center;
}

.registerEmphasis {
  font-weight: bold;
}




/* Standard Button Format*/

.standardButton {
  background-color: rgb(181, 12, 12);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/* LOGIN PAGE */

.loginDetailsCSS {
  margin-top: 30px;
}

/* Register Page */


.registerForm {
  margin-top: 30px;

}


/* Update Page */

.updateForm {
  margin-top: 30px;

}

/* make pics scalable */
.pic {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right:auto;
  padding-top:10px;

}


.errorMessage {
  text-align:center;
}

.demoCredentials {
  padding-top: 20px;
  color: white;
  text-align: center;
  
}

.image {
  padding: 0 5px 0 5px;
  background-color: black;

}

input {
  margin: 0 0 10px 0;
}


